.main {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 65rem;
    // height: auto;
    height: 49rem;
    border: 2px solid $color-gray;
    border-radius: 1rem;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;


    &__title {
        font-size: 2rem;
        display: flex;
        align-items: center;
    }

    &__share {
        width: auto;
        
        & img {
            width: 3rem;
        }
    }

}

.spectrum {
    width: 100%;
    height: 22.8rem;
    @include flex(row, center, center);

    &__output {
        width: 30%;
        height: 100%;
        background-color: lightblue;
    }

    &__canvas {
        width: 70%;
        height: 100%;
        background-color: lightgreen;
    }
}

.color-slider {
    width: 100%;
    height: 5.2rem;
    background-color: lightcoral;
}

.output {

    &__top {
        width: 80%;
        @include flex(column, center, center); 
        border: 2px solid $color-gray;
        border-radius: 5px;
        height: 36px;
        margin: 5px auto 5px auto;
    }
    &__title {

    }
    &__code--hex {

    }
    &__copy, &__tick {
        width: 2rem;
    }

    &__bottom {

    }
    &__RGB {

    }
    &__CMYK {

    }
    &__HSV {

    }
    &__HSL {

    }
    &__code {

        &--rgb {

        }
        &--cmyk {

        }
        &--hsv {

        }
        &--hsl {

        }
    }
}