*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.picking-area {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, #ffffff00 0%, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0) 0, black 100%), -webkit-linear-gradient(left, white 0%, rgba(0, 0, 0, 0) 100%);
  background-color: red;
  position: relative; }

#picker {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: orangered;
  border: 2px solid white;
  position: absolute;
  right: -.8rem;
  top: -.8rem; }
  #picker:hover {
    cursor: pointer; }

.hue {
  width: 90%;
  height: 1rem;
  background-color: black;
  border-radius: 1rem;
  background: -webkit-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%, #00F 66.66%, #F0F 83.33%, #F00 100%);
  position: relative; }

.slider {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: orangered;
  border: 2px solid white;
  position: absolute;
  top: -.5rem;
  left: 0rem; }
  .slider:hover {
    cursor: pointer; }

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 4rem; }

/* start of footer */
footer {
  width: 100%;
  padding: 4rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-text);
  bottom: 0;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightblue; */ }

footer a {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center; }

footer img {
  width: 3rem;
  height: auto;
  transition: transform .7s ease-in-out;
  margin-left: 1rem; }

footer img:hover {
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg) scale(1.5); }

/* end of footer */
.main {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 65rem;
  height: auto;
  padding-bottom: 2rem;
  border: 2px solid #dbdde1;
  border-radius: 1rem; }

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem; }
  .top__title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    user-select: none; }
  .top__share {
    width: auto; }
    .top__share img {
      width: 3rem; }
      .top__share img:hover {
        cursor: pointer; }

.spectrum {
  width: 100%;
  height: 22.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .spectrum__output {
    width: 30%;
    height: 100%;
    background-color: red; }
  .spectrum__canvas {
    width: 70%;
    height: 100%;
    position: relative; }

.color-slider {
  width: 100%;
  height: 5.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.output {
  height: auto; }
  .output__top {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #dbdde1;
    border-radius: 5px;
    height: 36px;
    margin: 5px auto 5px auto;
    position: relative; }
  .output__title {
    background-color: #fff;
    font-size: 1.6rem;
    position: absolute; }
    .output__title--top {
      top: -1rem;
      padding: 0 .5rem; }
    .output__title--bottom {
      left: 25%;
      transform: translate(-50%, -10%);
      padding: 0 .2rem;
      color: #60636a; }
  .output__code--hex {
    font-size: 1.6rem;
    color: #60636a; }
  .output__copy, .output__tick {
    width: 2.5rem;
    position: absolute;
    right: .5rem;
    top: .4rem; }
    .output__copy:hover, .output__tick:hover {
      cursor: pointer; }
  .output__bottom {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto; }
  .output__RGB, .output__CMYK, .output__HSV, .output__HSL {
    width: 25%;
    position: relative;
    float: left; }
  .output__code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem; }
  .output__border--small {
    width: 97%;
    height: 3.6rem;
    border: 1px solid #dbdde1;
    border-radius: .5rem;
    margin: .5rem auto; }

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

hue-slider {
  display: block;
  margin: 0;
  padding: 0;
  border: 0; }
