#picker {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: orangered;
    border: 2px solid white;

    position: absolute;
    right: -.8rem;
    top: -.8rem;
    display: block;
}